# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyTorch
*.pth
*.pt
*.ckpt

# Data files
*.pickle
*.pkl
*.pt
*.pth
*.ckpt

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Data
data/

# Outputs
outputs/
wandb/
reproduce/
reproduce_exp/

# Test results
test_results/

# Scripts
scripts/

# Large files
fail_analysis.txt

# Temporary files
*.tmp
*.temp 

.json

!synflow/
!synflow/data/
preprocess/
!preprocess/processed_txt.py